[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/vendor/HotConsts"]
	path = Engine/vendor/HotConsts
	url = git@github.com:theOtherMichael/HotConsts.git
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Engine/vendor/yaml-cpp"]
	path = Engine/vendor/yaml-cpp
	url = git@github.com:theOtherMichael/yaml-cpp.git
[submodule "Engine/vendor/msdf-atlas-gen"]
	path = Engine/vendor/msdf-atlas-gen
	url = git@github.com:Chlumsky/msdf-atlas-gen.git
[submodule "Engine/vendor/freetype"]
	path = Engine/vendor/freetype
	url = git@github.com:freetype/freetype.git
[submodule "Editor/vendor/imgui"]
	path = Editor/vendor/imgui
	url = git@github.com:theOtherMichael/imgui.git
